TELEGRAM_BOT_TOKEN="SUTITUYE POR EL TUYO"
TELEGRAM_ALLOWED_USER_IDS="SUTITUYE POR EL TUYO"
GROQ_API_KEY="SUTITUYE POR EL TUYO"
OPENROUTER_API_KEY="SUTITUYE POR EL TUYO"
OPENROUTER_MODEL="openrouter/free"
DB_PATH="./memory.db"
GOOGLE_APPLICATION_CREDENTIALS="./service-account.json"
FIREBASE_API_KEY="SUTITUYE POR EL TUYO"
FIREBASE_AUTH_DOMAIN="SUTITUYE POR EL TUYO"
FIREBASE_PROJECT_ID="SUTITUYE POR EL TUYO"
FIREBASE_STORAGE_BUCKET="SUTITUYE POR EL TUYO"
FIREBASE_MESSAGING_SENDER_ID="SUTITUYE POR EL TUYO"
FIREBASE_APP_ID="SUTITUYE POR EL TUYO"
